/* Tour.css */
.tour {
  border: 1px solid #135D66;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour img {
  width: 100%;
  max-width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tour h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #333; /* Change font color */
}

.tour p {
  margin-top: 0.5rem;
  color: #666; /* Change font color */
}

.tour a {
  margin-top: auto;
  color: #77B0AA;
  text-decoration: none;
  font-weight: bold; /* Add font weight */
  padding: 0.5rem 1rem; /* Add padding */
  border-radius: 5px; /* Add border radius */
  border: 2px solid #77B0AA; /* Add border */
  transition: all 0.3s ease; /* Add transition for hover effect */
}

.tour a:hover {
  background-color: #77B0AA;
  color: #fff;
  text-decoration: none;
}